<div class="dictionary-definition-view-container" layout="column">
	
	<div class="definition ng-hide" ng-show="!ctrl.editingDefinition" flex></div>

  	<div class="editor-summernote-container ng-hide" ng-show="ctrl.editingDefinition" flex layout="column">
		<summernote class="editor-summernote" config="ctrl.contentEditorOptions" ng-model="ctrl.currentDefinition" flex></summernote>		  		
  	</div>

	<div class="definition-toolbar" layout="row" layout-align="center center">

		<div class="definition-toolbar-buttons">
			<md-icon class="material-icons ng-hide" ng-show="!ctrl.editingDefinition" ng-click="ctrl.definitionEditClick()"> edit </md-icon>
			<md-icon class="material-icons ng-hide" ng-show="ctrl.editingDefinition" ng-click="ctrl.definitionSaveClick()"> save </md-icon>			
			<md-icon class="material-icons ng-hide" ng-show="ctrl.editingDefinition" ng-click="ctrl.definitionCancelClick()"> clear </md-icon>							
		</div>	

	</div>
	
</div>