<div class="spaced-revision-select-expressions-modal" layout="row" ng-controller="SpacedRevisionSelectExpressionsModalController as ctrl">

    <div class="expressions expressions-dictionary" flex layout="column">
    	<div class="legend"> Dictionary </div>
		<div class="checkboxes" flex layout="column">
			<md-checkbox ng-repeat="word in ctrl.expressions | filter : ctrl.filterExpressionsDicionary | orderBy : 't50dci.dsExpressao'" ng-model="word.blMostrar" class="md-warn"> {{word.t50dci.dsExpressao}} </md-checkbox>
		</div>	
	</div>	

    <div class="expressions expressions-pronunciation" flex layout="column">
    	<div class="legend"> Pronunciation </div>
		<div class="checkboxes" flex layout="column">
			<md-checkbox ng-repeat="word in ctrl.expressions | filter : ctrl.filterExpressionsPronunciation | orderBy : 't51prn.dsExpressao'" ng-model="word.blMostrar" class="md-warn"> {{word.t51prn.dsExpressao}} </md-checkbox>
		</div>	
	</div>	

	
</div>