.dictionary-modal {
	$default-border-color: #99bce8;

	height: 100%;
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
	
	.search-input-container { 
		border: solid 1px $default-border-color;
		height: 30px;
		box-sizing: border-box;

		.search-input {
			border-width: 0px;
			font-size: 16px;
			padding-left: 4px;
			box-sizing: border-box;

			&:focus {
				outline: none;
			}
		}

		.material-icons {
			color: #03698C;
			opacity: 0.4;
			cursor: pointer;
		}

	}

	.grid-container {
		height: 180px;
		margin-bottom: 2px;
		
		.gridDictionary {
			color: black;

			.material-icons:hover {
				color: red !important;
			}			
		}
	}	

	.definition-container {
		border: solid 1px $default-border-color;
		height: 150px;
		padding: 4px;

		.definition-toolbar {
			height: 30px;
			max-height: 30px;
			min-height: 30px;			
			border-top: solid 1px #f2f2f2;
			padding: 2px;

			.definition-toolbar-buttons {

				.material-icons {
					cursor: pointer;
				}

			}
		}

		.definition {
			overflow: auto;
		}

		.editor-summernote-container {
			box-sizing: border-box;
			height: 100%;

			.note-editor {
			    height: 100%;
			    box-sizing: border-box;
			    border-width: 0px;

				.note-editing-area {
					box-sizing: border-box;
					height: calc(100% - 41px);
					overflow-y: auto;

					.panel-body {
						box-sizing: border-box;
						height: 100%;
					}
				}

				.note-statusbar {
					display: none;
				}
			}
		}	

	}
}