<div class="dictionary-modal" layout="column" ng-controller="DictionaryModalCtrl as ctrl">

	<div class="search-input-container" layout="row">
		
		<input class="search-input" ng-model="ctrl.searchValue" ng-change="ctrl.searchInputChange()" ng-keydown="ctrl.searchInputKeydown()" flex></input>

		<md-icon class="material-icons ng-hide" ng-show="ctrl.showSearchButton('search')" ng-click="ctrl.searchButtonClick()"> search </md-icon>		
		<md-icon class="material-icons ng-hide" ng-show="ctrl.showSearchButton('add')"  ng-click="ctrl.searchButtonAddClick()"> add_box </md-icon>

	</div>

	<div class="progress-bar-loading">	
		<md-progress-linear class="ng-hide" md-mode="indeterminate" ng-show="ctrl.showLoading()"></md-progress-linear>	
	</div>	

	<div class="grid-container" layout="row">

		<ui-deni-grid class="gridDictionary" options="ctrl.gridDictionaryOptions" flex></ui-deni-grid>	
		
	</div>

	<div class="definition-container" layout="column" flex>

		<div class="definition ng-hide" ng-show="!ctrl.editingDefinition" flex></div>

	  	<div class="editor-summernote-container ng-hide" ng-show="ctrl.editingDefinition" flex layout="column">
			<summernote class="editor-summernote" config="ctrl.contentEditorOptions" ng-model="ctrl.currentDefinition" flex></summernote>		  		
	  	</div>

		<div class="definition-toolbar" layout="row" layout-align="center center">

			<div class="definition-toolbar-buttons">
				<md-icon class="material-icons ng-hide" ng-show="!ctrl.editingDefinition" ng-click="ctrl.definitionEditClick()"> edit </md-icon>
				<md-icon class="material-icons ng-hide" ng-show="ctrl.editingDefinition" ng-click="ctrl.definitionSaveClick()"> save </md-icon>			
				<md-icon class="material-icons ng-hide" ng-show="ctrl.editingDefinition" ng-click="ctrl.definitionCancelClick()"> clear </md-icon>							
			</div>	

		</div>

	</div>
	
</div>