.dictionary-definition-viewer-container {
	height: 100%;
	width: 100%;	
	box-sizing: border-box;

	.definition {
		overflow: auto;
		box-sizing: border-box;
		padding: 4px;
	}

	.editor-summernote-container {
		box-sizing: border-box;
		height: 100%;

		.note-editor {
		    height: 100%;
		    box-sizing: border-box;
		    border-width: 0px;

			.note-editing-area {
				box-sizing: border-box;
				height: calc(100% - 41px);
				overflow-y: auto;

				.panel-body {
					box-sizing: border-box;
					height: 100%;
				}
			}

			.note-statusbar {
				display: none;
			}
		}
	}

	.definition-toolbar {
		height: 30px;
		max-height: 30px;
		min-height: 30px;			
		border: dotted 1px silver;
		padding: 2px;
		box-sizing: border-box;
		background-color: #FAFAFA;
		margin: 2px;

		.definition-toolbar-buttons {

			.material-icons {
				cursor: pointer;
			}

		}
	}

}