dictionary-view {

	.dictionary-view-container {
		padding: 4px;

		.dictionary-view-toolbar {
			height: 25px;
			background-color: silver;
		}

		.dictionary-view-definition {
			background-color: orange;
		}

	}

}