<div class="new-video-item-modal-tpl" layout="row">

	<div class="kind-of-video">
		<md-radio-group ng-model="newVideoItemModal.kindOfVideo">
			<md-radio-button class="md-primary" aria-label="youtube" ng-value="0">
	          <img src="src/assets/images/32x32/youtube.png">
			</md-radio-button>		
			<md-radio-button class="md-primary" aria-label="google_drive" ng-value="1">
	          <img src="src/assets/images/32x32/google-drive.png">		          
			</md-radio-button>		
		</md-radio-group>
	</div>


	<div class="main" flex layout="column">

		<md-input-container class="md-block">
			<label>Description</label>
			<input ng-model="newVideoItemModal.description">
		</md-input-container>

		<md-input-container class="md-block video-id-input" layout="column">
			<label>Video Id</label>
			<input ng-model="newVideoItemModal.videoId">
		</md-input-container>

		<img class="image-preview" ng-src="{{newVideoItemModal.getImagePreviewUrl()}}"  />

	</div>		

</div>
<!--
<div class="new-video-item-modal-tpl" layout="row" ng-controller="NewVideoItemModalCtrl as ctrl">

	<div class="kind-of-video">
		<md-radio-group ng-model="ctrl.kindOfVideo">
			<md-radio-button class="md-primary" aria-label="youtube" ng-value="1">
	          <img src="src/assets/images/32x32/youtube.png">
			</md-radio-button>		
			<md-radio-button class="md-primary" aria-label="youtube" ng-value="2">
	          <img src="src/assets/images/32x32/google-drive.png">		          
			</md-radio-button>		
		</md-radio-group>
	</div>


	<div class="main" flex layout="column">

		<md-input-container class="md-block">
			<label>Description</label>
			<input ng-model="ctrl.newVideoItemModal.description" id="newVideoDescription">
		</md-input-container>

		<md-input-container class="md-block video-id-input" layout="column">
			<label>Video Id</label>
			<input ng-model="ctrl.videoId" id="newVideoVideoId">
		</md-input-container>

		<img class="image-preview" ng-src="{{ctrl.getImagePreviewUrl()}}"  />

	</div>		

</div>
-->