<div class="new-video-item-modal-view" layout="row">

	<div class="kind-of-video">
		<md-radio-group ng-model="newVideoItemModal.tp_video">
			<md-radio-button class="md-primary" aria-label="youtube" ng-value="0">
	          <img src="src/assets/images/32x32/youtube.png">
			</md-radio-button>		
			<md-radio-button class="md-primary" aria-label="google_drive" ng-value="1">
	          <img src="src/assets/images/32x32/google-drive.png">		          
			</md-radio-button>		
		</md-radio-group>
	</div>


	<div class="main" flex layout="column">

		<md-input-container class="md-block">
			<label>Description</label>
			<input ng-model="newVideoItemModal.description">
		</md-input-container>

		<md-input-container class="md-block video-id-input" layout="column">
			<label>Video Id</label>
			<input ng-model="newVideoItemModal.id_video">
		</md-input-container>

		<img class="image-preview ng-hide" ng-src="{{newVideoItemModal.getImagePreviewUrl()}}" ng-show="newVideoItemModal.canShowImagePreview"  />

	</div>		

</div>