<div class="spaced-revision-modal" ng-controller="SpacedRevisionController as ctrl" flex layout="row">
	<div class="spaced-revision-container" layout="column" ng-cloak="" flex>
		<div class="item-detail" layout="row">
			<div class="item-detail-img">
				<img ng-src="{{ctrl.itemImage}}" />
			</div>
			<div class="item-detail-data" flex layout="column">
				<div class="item-detail-data-breadcrumb" ng-bind="ctrl.dsBreadCrumbPath"></div>		
				<div class="item-detail-data-description" ng-bind="ctrl.dsItem" flex></div>

				<!--			
				<div class="item-detail-data-last-revision">Last Revision : {{ctrl.dtLastRevision}}</div>						
				-->
				<div layout="row" layout-align="start center">
					<div flex>
						<md-button class="md-raised md-primary btn-mark-as-revied" ng-click="ctrl.markAsReviewed(ctrl.cdItem)">
						 	<md-icon class="material-icons md-light md-48"> done_all </md-icon>
						 	Mark as "Reviewed"
						</md-button>
					</div>	
					<div>
						<md-button class="md-icon-button" ng-click="ctrl.selectExpressions(ctrl.cdItem)">
							<md-icon class="material-icons"> dvr </md-icon>
						</md-button>
					</div>
				</div>

			</div>
		</div>
		<div class="definition-detail" layout="column" flex>
			<div class="definition-detail-type" ng-bind="ctrl.model.expression.type"></div>
			<div class="definition-detail-toolbar" ng-bind="ctrl.model.expression.dsExpressao"></div>
			<div class="definition-detail-navigator" layout="column" layout-align="center center">
				<div class="definition-detail-navigator-buttons" layout="row" layout-align="center center" flex>
					<md-button ng-click="ctrl.navigateFirst()" ng-disabled="ctrl.currentExpressionIndex == 0"> 
						<md-tooltip>
							First
						</md-tooltip>	
						<md-icon class="material-icons md-light md-48"> first_page </md-icon>
					</md-button> 					
					<md-button ng-click="ctrl.navigate(-1)" ng-disabled="ctrl.currentExpressionIndex == 0">
						<md-tooltip>
							Prior
						</md-tooltip>	
						<md-icon class="material-icons md-light md-48"> chevron_left </md-icon>
					</md-button> 		
					<md-button ng-click="ctrl.showResult()"> 
						<md-tooltip>
							Toogle Expression Definition
						</md-tooltip>	
						<md-icon class="material-icons md-light md-48"> {{ctrl.model.expression.resultType}} </md-icon>
					</md-button> 		
					<md-button ng-click="ctrl.navigate(1)"  ng-disabled="ctrl.currentExpressionIndex == ctrl.expressions.length - 1"> 
						<md-tooltip>
							Next
						</md-tooltip>	
						<md-icon class="material-icons md-light md-48"> chevron_right </md-icon>
					</md-button> 		
					<md-button ng-click="ctrl.navigateLast()"  ng-disabled="ctrl.currentExpressionIndex == ctrl.expressions.length - 1"> 
						<md-tooltip>
							Last
						</md-tooltip>	
						<md-icon class="material-icons md-light md-48"> last_page </md-icon>
					</md-button> 		
				</div>
				<div class="definition-navigator-status">{{(ctrl.currentExpressionIndex + 1) + ' of ' + ctrl.expressions.length}}</div>			
			</div>				
			<div class="definition-detail-content" flex="auto" layout="row">
				<div class="definition-detail-content-content" flex>
					<dictionary-definition-viewer class="ng-hide" ng-show="ctrl.showDefinitionContent"></dictionary-definition-viewer>
				</div>
			</div>
		</div>	
	</div>
</div>	