.subtitle-modal-template {
	padding: 20px;

	.start-edit {
		width: 120px;
	}

	.end-edit {
		width: 120px;
	}

	.text-edit {

	}

	md-input-container {
    	padding: 0px;
    	margin: 15px 5px 0px 0px; 
	}

}